/* imported google font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,700;1,100;1,300;1,700&display=swap');

 /*  
   COLORS REF
   The blue : rgb(67, 163, 230)
   The dark blue : rgb(25, 33, 41)
*/

html,
body{
    margin: 0;
    padding: 0;
}

/* This is going to remove all the elements’ margin and padding
 : set them to 0. Why are we doing this? Reset some styles that your 
 browser automatically apply to elements, browser default styles. */

   body{
    font-family: "Roboto";
    font-size: 10px; 
    line-height: 3.5em;
    font-weight: 300;
   }

   h1, h2, h3, h4, h5{
    font-family:"Helvetica";
   }

   h1{
    font-size: 9em;
    text-align: center;
    text-transform: uppercase;
   }
   /* body font-size 10px*9 */

   h2{
    font-size: 5em;
    text-align: center;
    text-transform: uppercase;
    line-height: 4em;
   }
   /* body font-size 10px*5 */

   h3{
    font-size: 4.2em;
    text-align: center;
    line-height: 1em;
   }

   h4{
    font-size: 1.5em;
    letter-spacing: 0.4px;
    line-height: 1em;
   }

   h5{
    font-size: 1.2em;
    line-height: 1em;
   }

   /* ----- nav bar ----- */
   .nav-bar{
    background-color:  rgb(25, 33, 41);
   }

   .nav-bar a{
    color:white;
    text-decoration: none;
    font-size: 2em;
   }

    /* ----- header ----- */
   .header{
    height: 650px;
    background-image: url(https://s3-eu-west-1.amazonaws.com/ih-materials/uploads/ironhack-skydive-background.jpg);
    background-position: 00;
    background-repeat: no-repeat;
    background-size: cover;
   }

   .header h2{
    color: white;
    text-shadow: #020819 8px -20px 9px; /*  REVOIR  */
   }

   .quote{
    font-size: 2.5em;
   }

   /* ----- section 1 Hello ! -----*/
   .dark-background{ 
    background-color: rgb(25, 33, 41);
    color: white;
   }

   .text{
        font-size: 2em;
        font-weight: 100;
        text-align: center;
   }

   .link-btn{
    background-color: rgb(67, 163, 230);
    color: white;
    font-family: "Helvetica";
    font-size: 2em;
    letter-spacing: 0.5;
    text-align: center; /* ? */
    text-decoration: none;
   }

   /* ----- section 2 structure ----- */
  .service-box{ /* each article */
    font-size: 1.7em;
    text-align: center;
  }

  .service-box img{
    width: 125px;
  }

 /* ----- section 3 team ----- */

 #team .section-text{
    font-size: 1.9em;
    text-align: center;
 }

 #team .member-name{
    font-size: 1.5em;
    font-weight: 700;
 }

 #team img{
    width: 250px;
    height: 180px;
 }

 /* ----- footer ----- */

 .footer{
    font-size: 1.9em;
    text-align: center;
 }

.address{
    font-style: normal;
    font-size: 0.8em;
}

.footer a {
    color: rgb(67, 163, 230) ;
    text-decoration: none;
}

.footer ul{
    list-style: none;
}
