/* imported google font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,700;1,100;1,300;1,700&display=swap');

 /*  
   - COLORS REF -
   The blue : rgb(67, 163, 230)
   The dark blue : rgb(25, 33, 41)
*/

html,
body{
    margin: 0;
    padding: 0;

}

/* This is going to remove all the elements’ margin and padding
 : set them to 0. That will reset some styles that my
 browser automatically apply to elements, browser default styles. */

   body{
      font-family: "Roboto";
      font-size: 10px; 
      line-height: 3.5em;
      font-weight: 300;
   }

   h1, h2, h3, h4, h5{
      font-family:"Helvetica";
   }

   h1{
      font-size: 9em;
      text-align: center;
      text-transform: uppercase;
   }
   /* body font-size 10px*9 */

   h2{
      font-size: 5em;
      text-align: center;
      text-transform: uppercase;
      line-height: 4em;
   }
   /* body font-size 10px*5 */

   h3{
      font-size: 4.2em;
      text-align: center;
      line-height: 1em;
   }

   h4{
      font-size: 1.5em;
      letter-spacing: 0.4px;
      line-height: 1em;
   }

   h5{
      font-size: 1.2em;
      line-height: 1em;
      /* margin-top: 0;
      margin-bottom: 0; NON !  */
   }

   /* ----- nav bar ----- */
   .nav-bar{
      background-color:  rgb(25, 33, 41);
      padding-top: 14px;
      padding-bottom: 14px;
      /* position:fixed;  PLUS TARD*/
   }

   .nav-bar a{
      color:white;
      text-decoration: none;
      font-size: 2em;
   }

   .nav-bar-ul{
      width: 1200px;
      margin: 0 auto;
      display: flex;
      justify-content: space-evenly;
   }

   .nav-bar-ul li{
      list-style-type: none;   /* I don't think I need it */
      text-align: center;
   }

    /* ----- header ----- */
   .header{
      height: 650px;
      padding-top: 50px;
      background-image: url(https://s3-eu-west-1.amazonaws.com/ih-materials/uploads/ironhack-skydive-background.jpg);
      background-position: 00;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
   }

   .header h2{
      color: white;
      text-shadow: #020819 8px -20px 9px; /*  REVOIR  */
   }

   .quote{
      font-size: 2.5em;
      position: absolute;
     left: 10%;
     bottom: 100px;
   }

   /* ----- section 1 Hello ! -----*/
   .dark-background{ 
      background-color: rgb(25, 33, 41);
      color: white;
   }

   .text{
        font-size: 2em;
        font-weight: 100;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
   }

   .link-btn{
      background-color: rgb(67, 163, 230);
      color: white;
      font-family: "Helvetica";
      font-size: 2em;
      letter-spacing: 0.5;
      text-align: center;
       /* point of text-align center ? */
      text-decoration: none;
      padding: 10px 30px;
      }

      .container{
         width: 1200px;
         margin: 0 auto;
         padding: 75px 0;
      }

      #general-information{
         display: flex;
         justify-content: space-evenly;
      }

      #general-information .container{
         display: flex;
         flex-direction: column;
         align-items: center;
         
         width: 370px;
         
      }

   /* ----- section 2 structure ----- */
  .service-box{ /* each article */
      font-size: 1.7em;
      text-align: center;
      border: 2px solid #eee;
      border-radius: 20px;
      box-sizing: border-box;
      box-shadow: 2px 2px 10px 0 #eee;
      margin-top: 50px;
      margin-right: 5%;
      margin-bottom: 0;
      margin-left: 5%;
      padding: 20px;
      width: 40%;
  }

  .service-box img{
      width: 125px;
  }

  #structure > div{  
      /* target only the div direct children of #structure. 
      flex pour les <articles> de cette div  */
      display: flex;
      flex-direction: row;
      flex-wrap :wrap;
      justify-content: space-between;
      /* le justify content à premiere vue ne sert pas à grand chose, 
      mais il doit avoir son rôle à jouer */
  }

 /* ----- section 3 team ----- */

 #team{
      padding: 75px 0;;
      margin: 0 auto;
 }

 #team .section-text{
      font-size: 1.9em;
      text-align: center;
      width: 60%;
      margin: 10px auto;
 }

 #team hr{
      margin: 20px auto 30px ;
      width: 40%;
 }

 #team .member-name{
      font-size: 1.5em;
      font-weight: 700;
 }

 #team img{
      width: 250px;
      height: 180px;
 }

 #team > div{ /* pour les élements (articles) dans div */
      display: flex;
      justify-content: space-evenly;
      /* horizontal */
 }

 #team > div > article{ /* pour ce que contient (h4 + img) les articles */
      display: flex;
      flex-direction: column;
      justify-content: center; /* pourquoi ?? */
      align-items: center;
 }

 /* ----- section 4 Schedule ----- */
.schedule-table{
      margin: 0 auto 40px;
      font-size: 1.5em;
}

.schedule-table th, td{
      border-bottom: 1px solid black;
      padding: 5px 10px;
      text-align: center;
}


 /* ----- footer ----- */
 .footer{
      font-size: 1.9em;
      text-align: center;
      padding: 40px 100px;
      margin-bottom: 25px;
      display: flex;
      justify-content: space-between;
      align-items: center;
 }

.address{
      font-style: normal;
      font-size: 0.8em;
      margin-bottom: 30px;
   }

.footer a {
      color: rgb(67, 163, 230) ;
      text-decoration: none;
}

.footer ul{
      list-style: none;
      text-align: center;
      padding: 0;
}

.map-frame{
   height: 375px;
   width: 60%;
}